body {
	font-family: 'Open Sans', sans-serif;
}

.navbar-static-top {
	margin-bottom: 20px;
	padding: 10px;
}

.content {
	padding-bottom: 200px;
}

.text-white {
	color: rgb(255,255,255);
}

.fontawe {
    font-size: 23px;
}

footer {
	background-color: rgb(134, 89, 45);
	padding-top: 50px;
	padding-bottom: 80px;
	color: rgb(255,255,255);
}